body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  max-width: 450px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* *positioning context */
form > div {
  position: relative;
}

div > input {
  padding: 2px 10px;
}

/* *label hidden when input focus */
div > input[type="text"]:focus + label,
div > input[type="email"]:focus + label,
div > input[type="password"]:focus + label {
  transform: translateX(-173px) translateY(2px) scale(0);
  transition: all 0.3s cubic-bezier(0.25, 0.25, 0.65, 1);
}

/* *show success */
div > input[type="text"]:valid,
div > input[type="email"]:valid,
div > input[type="password"]:valid {
  /* !padding-left >= background-size to distance text input to back-img */
  padding-left: 24px;
  background: url(./check-64.png);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 2px;
}

div > input[type="text"]:valid + label,
div > input[type="email"]:valid + label,
div > input[type="password"]:valid + label {
  transform: translateX(-173px) translateY(2px) scale(0);
}

/* *looks like placeholder */
div > label {
  width: 100%;
  opacity: 0.3;
  position: absolute;
  transform: translateX(-173px) translateY(2px) scale(1);
  transform-origin: center;
  transition: all 0.3s ease-in;
}

div > button {
  border: none;
  background-color: lightgreen;
  color: rgba(255, 255, 255, 0.771);
  width: 100%;
  padding: 10px 40px;
}
